<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Trainznation Mod Launcher</title>
    <link href="https://fonts.cdnfonts.com/css/bitstream-vera-sans" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@splidejs/splide@latest/dist/css/splide.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@splidejs/splide-extension-video@latest/dist/css/splide-extension-video.min.css">
    <link rel="stylesheet" href="../assets/css/styles.css">
    <script src="https://code.iconify.design/1/1.0.6/iconify.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@latest/dist/js/splide.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@splidejs/splide-extension-video@latest/dist/js/splide-extension-video.min.js"></script>
    <script src="../assets/js/uicore.js"></script>
</head>
<body style="background: url('../assets/images/bg.png') center no-repeat #1b2838">
    <%- include('frame') %>
    <div id="main">
        <%- include('landing') %>
        <%- include('settings') %>
        <%- include('welcome') %>
        <%- include('library') %>
        <%- include('download') %>
        <%- include('shop') %>
        <%- include('shop_info') %>
        <%- include('changelog') %>
        <template data-popover="popoverContainer">
            <div class="popoverContent">
                <div class="popoverHeader"></div>
                <div class="popoverBody"></div>
                <div class="popoverFooter"></div>
            </div>
        </template>
    </div>
    <%- include('overlay') %>
    <script src="../assets/js/uibind.js"></script>
</body>
</html>